<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/quill.snow.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <script src="/static/js/createPost.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/quill.js"></script>
    <link rel="stylesheet" href="/static/css/createPost.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="div_create_post">
        <h1 class="create_post_text">Create post</h1>
        <input type="text" name="" id="post_tittle" class="post_inputs" placeholder="Post Tittle">
        <div id="editor"></div>
        <input type="hidden" name="content" id="hidden-input">
        <label class="top_user_name">Category</label>
        <select id="categories_dropdown" class="categories_dropdown">
            <option value="" selected>Select an option</option>
        </select>
        <button id= "button_publish_post" class="buttons_login_register">Pubish Post</button>
        <div id="user_info_login" class="login_register_div"></div>
    </div>
    <script>
        var quill = new Quill('#editor', {
          theme: 'snow'
        });
    </script>
</body>
</html>





