<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../static/home.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="div_buttons_body">
        <a href="/createPost" class="buttons_login_register">Create Post</a>
        <div class="div_search_bar">
            <input type="text" name="" id="main_search_bar" placeholder="Search posts">
            <button class="search_button"><img src="../static/search_icon.png" alt="" srcset="" class="search_icon"></button>
        </div>
    </div>
    <div class="main_body">
        <div class="body_divs">
            <div class="div_categories" id="div_list_categories"></div>
        </div>
        <div class="body_divs" id="div_posts"></div>
        <div class="body_divs">
            <div class="div_mini_headers">
                <span class="mini_header_text">TOP POSTERS</span>
                <div class="list_top_users" id="list_top_users"></div>
            </div>
            <div class="div_mini_headers">
                <span class="mini_header_text">POPULAR POSTS</span>

                <div class="list_top_users" id="top_posts_list"></div>
            </div>
        </div>
    </div>
</body>
</html>