<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="login_register_div">
        <h1 class="create_post_text">Login</h1>
        <span class="mini_header_text">Username/Email</span>
        <input type="text" class="inputs_login_register" id="username">
        <span class="mini_header_text">Password</span>
        <input type="password" class="inputs_login_register" id="password">
        <button class="buttons_login_register">Login</button>
    </div>
    
</body>
</html>