<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER NAME HERE</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="profile_div">
        <div class="div_categories">
            <span class="mini_header_text">Latest followers</span>
        </div>
        <div class="div_categories">
            <span class="mini_header_text">USER INFO</span>
        </div>
        <div class="div_categories">
            <span class="mini_header_text">Latest POSTS</span>
        </div>
    </div>
</body>
</html>