<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/register.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="login_register_div">
        <h1 class="create_post_text">Register</h1>
        <span class="mini_header_text">Username</span>
        <input type="text" class="inputs_login_register" id="username">
        <span class="mini_header_text">Email</span>
        <input type="text" class="inputs_login_register" id="email">
        <span class="mini_header_text">Password</span>
        <input type="password" class="inputs_login_register" id="password_1">
        <span class="mini_header_text">Confirm Password</span>
        <input type="password" class="inputs_login_register" id="password_2">
        <button class="buttons_login_register" id="register_button">Register</button>
        <div id="failed_message" class="login_register_div"></div>
    </div>

</body>
</html>